{% extends "catalog/base.html" %}

{% block header %}
 <h5>{{ text_head }}</h5>
{% endblock header %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="text-primary mb-3">Добро пожаловать в наш книжный магазин!</h2>
                    <p class="fs-5">
                        Мы - современный книжный магазин, предлагающий широкий выбор печатных и электронных книг
                        для всех возрастов и вкусов. Наша миссия - делать качественную литературу доступной
                        для каждого читателя.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="text-danger">Наша история</h4>
                            <p>Основанный в 2010 году, наш магазин вырос из маленькой гей-лавочки в крупный
                               онлайн-ритейлер с тысячами довольных клиентов по всей стране.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="text-danger">Наши ценности</h4>
                            <ul class="list-unstyled">
                                <li>Качественная литература</li>
                                <li>Доступные цены</li>
                                <li>Быстрая доставка</li>
                                <li>Забота о клиентах</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-body">
                    <h4 class="text-danger">Наши достижения</h4>
                    <div class="row text-center">
                        <div class="col-md-3">
                            <h2 class="text-primary">10 000+</h2>
                            <p>Книг в ассортименте</p>
                        </div>
                        <div class="col-md-3">
                            <h2 class="text-primary">50 000+</h2>
                            <p>Довольных парней</p>
                        </div>
                        <div class="col-md-3">
                            <h2 class="text-primary">13+</h2>
                            <p>Лет на рынке</p>
                        </div>
                        <div class="col-md-3">
                            <h2 class="text-primary">24/7</h2>
                            <p>Поддержка и опора клиентов геев</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h4 class="text-danger">Присоединяйтесь к нам!</h4>
                    <p class="fs-5">
                        Мы всегда рады новым читателям и партнерам. Следите за нашими новинками,
                        участвуйте в акциях и становитесь частью нашего книжного гей-сообщества!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}